In [1]:
import pandas as pd
from pandas import Series, DataFrame
import os

In [2]:
path = 'cleaned data/'
clean_files = os.listdir(path)

In [3]:
clean_files

['frame.csv',
 'bp.csv',
 '.DS_Store',
 'unicef.csv',
 '.ipynb_checkpoints',
 'fao.csv']

In [4]:
csv = []
for file in clean_files:
     if '.csv' in file:
        name = path + file
        csv.append(name)
csv

['cleaned data/frame.csv',
 'cleaned data/bp.csv',
 'cleaned data/unicef.csv',
 'cleaned data/fao.csv']

In [5]:
frame = pd.read_csv('cleaned data/frame.csv')
frame

Empty DataFrame
Columns: [ID, Spatial Scale, Country Code, Country Name, Technology Name, Unit, Data Source, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, ...]
Index: []

[0 rows x 333 columns]

In [6]:
df_list = []
for file in csv:
    file = pd.read_csv(file)
    df_list.append(file)

In [7]:
all_tech_df = pd.concat(df_list)
all_tech_df

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Unit,Data Source,1700,1701,1702,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,"Oil Production, Million tonnes: CA",National,CA,Canada,Oil Production,Million tonnes,BP,NaN,NaN,NaN,...,218.844941,236.6238539112012,257.74506725600276,263.46216233794104,252.02268501178634,267.09646969612965,NaN,NaN,NaN,NaN
1,"Oil Production, Million tonnes: MX",National,MX,Mexico,Oil Production,Million tonnes,BP,NaN,NaN,NaN,...,121.516944,109.58459009568948,102.40022374480199,95.00033365613487,95.11122475819839,96.48631856259557,NaN,NaN,NaN,NaN
2,"Oil Production, Million tonnes: US",National,US,US,Oil Production,Million tonnes,BP,NaN,NaN,NaN,...,542.593149,574.1346931123703,669.0559382438486,749.8951282116133,711.5506489307461,711.1246897366179,NaN,NaN,NaN,NaN
3,"Oil Production, Million tonnes: AR",National,AR,Argentina,Oil Production,Million tonnes,BP,NaN,NaN,NaN,...,28.630797,27.240149041514993,27.542351140786987,28.83483423119775,27.657268517052536,29.066316610250578,NaN,NaN,NaN,NaN
4,"Oil Production, Million tonnes: BR",National,BR,Brazil,Oil Production,Million tonnes,BP,NaN,NaN,NaN,...,136.707063,142.64181583403996,140.60316099808094,151.19917060803527,159.34492715727174,156.79244141885692,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,"Phosphate fertilizer production, Tonnes: ZM",National,ZM,Zambia,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,...,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
521,"Potash fertilizer production, Tonnes: ZM",National,ZM,Zambia,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,...,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
522,"Nitrogen fertilizer production, Tonnes: ZW",National,ZW,Zimbabwe,Nitrogen fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,...,11700.000000,12300.0,13200.0,13200.0,13200.0,NaN,NaN,NaN,NaN,NaN
523,"Phosphate fertilizer production, Tonnes: ZW",National,ZW,Zimbabwe,Phosphate fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,...,2100.000000,9500.0,8100.0,8100.0,8100.0,NaN,NaN,NaN,NaN,NaN
524,"Potash fertilizer production, Tonnes: ZW",National,ZW,Zimbabwe,Potash fertilizer production,Tonnes,UN FAO,NaN,NaN,NaN,...,0.000000,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [8]:
all_tech_df.to_csv('all_tech.csv', index=False)