In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://ourworldindata.org/space-exploration-satellites#introduction
# Annual no. of objects launched into space

In [3]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [7]:
space = pd.read_csv('raw data/yearly-number-of-objects-launched-into-outer-space.csv', index_col=2)
space

       Entity      Code  yearly_launches
Year
2002  Algeria       DZA                1
2010  Algeria       DZA                1
2016  Algeria       DZA                3
2017  Algeria       DZA                1
2017   Angola       AGO                1
...       ...       ...              ...
2018    World  OWID_WRL              453
2019    World  OWID_WRL              586
2020    World  OWID_WRL             1274
2021    World  OWID_WRL             1810
2022    World  OWID_WRL             2163

[1119 rows x 3 columns]

In [12]:
country_list = list(set(space['Entity']))
country_list

['Ethiopia',
 'Malaysia',
 'Papua New Guinea',
 'Uruguay',
 'Mauritius',
 'Angola',
 'RASCOM',
 'Nepal',
 'Netherlands',
 'European Space Agency',
 'Ecuador',
 'Israel',
 'Qatar',
 'Mongolia',
 'Peru',
 'Greece',
 'Tunisia',
 'Canada',
 'Inmarsat',
 'Singapore',
 'Arabsat',
 'Paraguay',
 'New Zealand',
 'Russia',
 'Slovenia',
 'Switzerland',
 'Lithuania',
 'Philippines',
 'Germany',
 'Intelsat',
 'Denmark',
 'Belarus',
 'Chile',
 'Portugal',
 'Czechia',
 'Starsem',
 'European Union',
 'World',
 'Taiwan',
 'Sweden',
 'Rwanda',
 'Bulgaria',
 'Laos',
 'Bolivia',
 'Sri Lanka',
 'Kenya',
 'Poland',
 'Latvia',
 'Sea Launch',
 'Eutelsat',
 'Ukraine',
 'Australia',
 'France',
 'Pakistan',
 'Estonia',
 'South Korea',
 'United States',
 'Luxembourg',
 'Iran',
 'Monaco',
 'Thailand',
 'United Arab Emirates',
 'North Korea',
 'Nigeria',
 'Finland',
 'Bhutan',
 'Argentina',
 'India',
 'Jordan',
 'Norway',
 'Brazil',
 'Kazakhstan',
 'Hungary',
 'Vietnam',
 'South Africa',
 'Austria',
 'Guatemala',
 'Bangladesh',
 'Turkmenistan',
 'NATO',
 'Spain',
 'Colombia',
 'Mexico',
 'Morocco',
 'United Kingdom',
 'Ghana',
 'Egypt',
 'Armenia',
 'Indonesia',
 'Intersputnik',
 'Venezuela',
 'Slovakia',
 'Azerbaijan',
 'Romania',
 'Moldova',
 'Costa Rica',
 'Algeria',
 'China',
 'Saudi Arabia',
 'Turkey',
 'Italy',
 'EUMETSAT',
 'Japan',
 'Belgium']