In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# https://www.statista.com/statistics/896699/number-of-satellites-launched-by-year/
# Must be a premium subscriber to access to data

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [4]:
# Does Jenna have access to see the underlying data source?
satellites = pd.read_csv('raw data/Satellite Launches.csv', index_col=0)
satellites = satellites.transpose()
satellites['Data Source'] = 'Statista'
satellites['Country Name'] = 'World'
satellites['Country Code'] = 'World'
satellites['Spatial Scale'] = 'Global'
satellites['Metric'] = 'Cumulative Total Capacity'
satellites['Technology Name'] = 'Satellite launches'
satellites['Unit'] = 'Number of orbital launches'
satellites['ID'] = satellites['Technology Name'] + '_' + satellites['Metric'] + '_' + satellites['Country Code']
satellites.set_index('ID', drop=True, inplace=True)
satellites.columns.name = None
satellites

,1957,1958,1959,1960,1961,1962,1963,1964,1965,1966,...,2017,2018,2019,Data Source,Country Name,Country Code,Spatial Scale,Metric,Technology Name,Unit
ID,,,,,,,,,,,,,,,,,,,,,
Satellite launches_Cumulative Total Capacity_World,4,28,23,40,54,84,70,104,132,139,...,91,114,95,Statista,World,World,Global,Cumulative Total Capacity,Satellite launches,Number of orbital launches

In [ ]:
satellites.to_csv('cleaned data/statista.csv')