In [1]:
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco
import os

In [2]:
# https://doi.org/10.2968/066004008
# data digitized from 'GLOBAL NUCLEAR WEAPONS INVENTORIES, 1945-2010', pp. 81-82

In [3]:
path = '/Users/ariana/desktop/historical_tech'
os.chdir(path)

In [4]:
nukes = pd.read_csv('raw data/NorrisKristensen_NuclearWeapons_TimeSeries.csv', index_col=0, usecols=[0,1,2,3,4,5,6,7,8])
nukes = nukes.transpose()
nukes

YEAR,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,...,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
UNITED STATES,2,9,13,50,170,299,438,841,"1,169","1,703",...,"10,526","10,457","10,027","8,570","8,360","7,853","5,709","5,273","5,113","5,000"
RUSSIA,NaN,NaN,NaN,NaN,1,5,25,50,120,150,...,"21,000","20,000","19,000","18,000","17,000","16,000","15,000","14,000","13,000","12,000"
UNITED KINGDOM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.0,...,281.0,281.0,281.0,281.0,281.0,281.0,225.0,225.0,225.0,225.0
FRANCE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,350.0,350.0,350.0,350.0,350.0,350.0,350.0,300.0,300.0,300.0
CHINA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235.0,235.0,235.0,235.0,235.0,235.0,235.0,235.0,240.0,240.0
ISRAEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,74.0,76.0,78.0,80.0,80.0,80.0,80.0,80.0,80.0,80.0
INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,26.0,32.0,38.0,44.0,50.0,60.0,70.0,80.0,80.0
PAKISTAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.0,23.0,28.0,33.0,38.0,43.0,50.0,60.0,70.0,70.0

In [5]:
country_names = []
for country in nukes.index:
    country_names.append(country.title())
    
country_codes = []
for country in country_names:
    country_codes.append(coco.convert(names=country, to='iso2'))

In [6]:
nukes['Country Name'] = country_names
nukes['Country Code'] = country_codes
nukes['Metric'] = 'Number of Weapons'
nukes['Unit'] = 'Number of Weapons'
nukes['Data Source'] = 'Norris & Kristensen'
nukes['Spatial Scale'] = 'National'
nukes['Technology Name'] = 'Nuclear weapons'
nukes['ID'] = nukes['Technology Name'] + '_' + nukes['Metric'] + '_' + nukes['Country Code']
nukes.set_index('ID', drop=True, inplace=True)
nukes.columns.name = None
nukes

,1945,1946,1947,1948,1949,1950,1951,1952,1953,1954,...,2008,2009,2010,Country Name,Country Code,Metric,Unit,Data Source,Spatial Scale,Technology Name
ID,,,,,,,,,,,,,,,,,,,,,
Nuclear weapons_Number of Weapons_US,2,9,13,50,170,299,438,841,"1,169","1,703",...,"5,273","5,113","5,000",United States,US,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_RU,NaN,NaN,NaN,NaN,1,5,25,50,120,150,...,"14,000","13,000","12,000",Russia,RU,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_GB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,7.0,...,225.0,225.0,225.0,United Kingdom,GB,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,300.0,300.0,300.0,France,FR,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_CN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,235.0,240.0,240.0,China,CN,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_IL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,80.0,80.0,Israel,IL,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_IN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.0,80.0,80.0,India,IN,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons
Nuclear weapons_Number of Weapons_PK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,60.0,70.0,70.0,Pakistan,PK,Number of Weapons,Number of Weapons,Norris & Kristensen,National,Nuclear weapons

In [7]:
nukes.to_csv('cleaned data/nuclear_weapons.csv')