In [1]:
import os
import pandas as pd
from pandas import Series, DataFrame
import country_converter as coco

In [2]:
# https://www.fao.org/faostat/en/#data/PP

In [3]:
os.chdir('/Users/ariana/desktop/historical_tech')

In [32]:
# corn
corn = pd.read_csv('raw data/cost data/FAOSTAT_data_en_7-3-2023.csv')
corn = corn[corn['Item']=='Maize (corn)']
corn = corn.pivot(index='Area', columns='Year', values='Value')
corn

Year,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,94.14,94.14,94.14,102.96,108.85,145.33,105.91,123.56,161.80,111.79,...,48.65,74.36,100.32,125.32,121.79,112.73,109.44,102.69,96.51,90.33
Albania,NaN,NaN,47.03,53.82,46.21,70.68,95.14,100.58,86.99,78.83,...,119.61,101.49,100.58,97.93,90.23,88.17,82.72,83.65,100.43,79.93
Algeria,12.49,44.49,44.49,44.49,62.45,64.15,61.44,72.51,68.99,61.83,...,109.88,114.05,96.43,89.51,94.51,99.82,100.14,99.23,99.67,100.12
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.18,91.17,97.03,111.80,132.51,117.24,110.21,104.29,104.63,104.67
Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,57.96,58.83,59.12,61.23,63.43,...,82.37,81.22,107.47,111.31,115.29,119.42,123.69,123.69,181.42,135.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.01,38.01,...,106.12,104.34,99.03,96.62,102.91,104.19,103.39,99.31,97.44,95.46
Viet Nam,13.67,14.66,14.35,16.09,21.22,21.65,21.36,23.97,25.18,26.40,...,99.81,106.25,104.60,89.15,87.99,88.55,90.69,94.39,138.83,183.27
Yemen,4.47,5.66,5.72,7.79,9.22,13.57,13.56,13.56,18.45,18.99,...,88.54,94.98,101.42,103.60,108.77,114.21,196.36,165.59,354.75,369.02
Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.29,89.81,95.79,114.40,83.11,143.32,241.97,203.01,192.05,218.39
Zimbabwe,0.21,0.42,0.68,0.68,0.80,0.91,0.91,2.21,3.19,4.18,...,81.19,85.32,107.34,107.34,107.34,107.34,NaN,NaN,NaN,NaN

In [5]:
# soya bean

In [6]:
# cotton seed

In [7]:
# raw milk of cattle