In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
cpi = pd.read_excel('SeriesReport-20230530081136_6825be.xlsx', header=11, index_col=0, usecols=[0,13])
cpi.dropna(inplace=True)
cpi = cpi.transpose()
cpi

Year,1913,1914,1915,1916,1917,1918,1919,1920,1921,1922,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
Annual,9.9,10.0,10.1,10.9,12.8,15.1,17.3,20.0,17.9,16.8,...,232.957,236.736,237.017,240.007,245.12,251.107,255.657,258.811,270.97,292.655

In [3]:
all_tech = pd.read_csv('all_tech_version 1.5.csv')
all_tech

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_19992/2174381710.py:1: DtypeWarning: Columns (156,215,216,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,310,311,312,313,314,315,316,317,318,320,321,322,323,324,325,326,327,328,329,330) have mixed types. Specify dtype option on import or set low_memory=False.
  all_tech = pd.read_csv('all_tech_version 1.5.csv')

,ID,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1700,1701,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025
0,Lithium-ion battery storage_Cumulative Rated C...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,NaN,760.0,1160.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Lithium-ion battery storage_Cumulative Rated P...,National,TG,Togo,Lithium-ion battery storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,NaN,190.0,290.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sensible heat storage_Cumulative Rated Capacit...,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,1195000.0,1745000.0,2945000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Sensible heat storage_Cumulative Rated Power_ZA,National,ZA,South Africa,Sensible heat storage,Cumulative Rated Power,kW,DOE Global Energy Storage Database,NaN,NaN,...,255000.0,355000.0,455000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Pumped hydro storage_Cumulative Rated Capacity_CA,National,CA,Canada,Pumped hydro storage,Cumulative Rated Capacity,kWh,DOE Global Energy Storage Database,NaN,NaN,...,3044000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577,Raw steel production_Annual production_World,Global,World,World,Raw steel production,Annual production,Metric tons,U.S. Geological Survey,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7578,Space Launches_Yearly Launches_UA,National,UA,Ukraine,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
7579,Space Launches_Yearly Launches_TM,National,TM,Turkmenistan,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7580,Liquefied natural gas_Exports_US,NaN,US,United States,Liquefied natural gas,Exports,Billion cubic feet,U.S. Energy Information Administration,NaN,NaN,...,186.84,707.54,1083.12,1819.4,2389.84,3560.82,NaN,NaN,NaN,NaN
7581,Space Launches_Yearly Launches_CO,National,CO,Colombia,Space Launches,Yearly Launches,Number of objects launched into space,UNOOSA,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cost_data = all_tech[all_tech['Metric']=='Price']
cost_data.set_index('ID', drop=True, inplace=True)
cost_data.dropna(axis=1, how='all', inplace=True)

/var/folders/4_/pdkx43_96v7dxssy4jtd5vyc0000gn/T/ipykernel_19992/2303471842.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cost_data.dropna(axis=1, how='all', inplace=True)

In [7]:
primary_copper = cost_data[cost_data['Technology Name']=='Primary copper production']

In [8]:
primary_copper

,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1900,1901,1902,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
ID,,,,,,,,,,,,,,,,,,,,,
Primary copper production_Price_World,Global,World,World,Primary copper production,Price,1998 USD/metric ton,U.S. Geological Survey,7000.0,7000.0,4800.0,...,5740.0,6490.0,5750.0,5240.0,4830.0,3880.0,3370.0,4180.0,4280.0,NaN

In [13]:
usgs = cost_data[cost_data['Data Source']=='U.S. Geological Survey']

In [14]:
usgs

,Spatial Scale,Country Code,Country Name,Technology Name,Metric,Unit,Data Source,1900,1901,1902,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
ID,,,,,,,,,,,,,,,,,,,,,
Primary copper production_Price_World,Global,World,World,Primary copper production,Price,1998 USD/metric ton,U.S. Geological Survey,7000.0,7000.0,4800.0,...,5740.0,6.490000e+03,5750.0,5240.0,4830.0,3880.0,3370.0,4180.0,4280.0,NaN
Cement production_Price_World,Global,World,World,Cement production,Price,1998 USD/metric ton,U.S. Geological Survey,78.0,88.0,100.0,...,68.8,6.490000e+01,63.5,66.5,69.2,73.3,75.4,77.8,78.5,78.1
Nickel production_Price_World,Global,World,World,Nickel production,Price,1998 USD/metric ton,U.S. Geological Survey,22000.0,24000.0,19000.0,...,16300.0,1.660000e+04,12400.0,10500.0,11600.0,8140.0,6520.0,6920.0,8510.0,NaN
Sand and gravel production (construction)_Price_World,Global,World,World,Sand and gravel production (construction),Price,1998 USD/metric ton,U.S. Geological Survey,NaN,NaN,13.3,...,5.46,5.428502e+00,5.437418,5.43,5.534125,5.697833,5.705,5.8764,5.926683,6.011302
Gold production_Price_World,Global,World,World,Gold production,Price,1998 USD/metric ton,U.S. Geological Survey,11900000.0,11900000.0,11400000.0,...,29500000.0,3.660000e+07,38200000.0,31800000.0,28100000.0,25700000.0,27300000.0,27000000.0,26500000.0,NaN
Sand and gravel production (industrial)_Price_World,Global,World,World,Sand and gravel production (industrial),Price,1998 USD/metric ton,U.S. Geological Survey,NaN,NaN,17.0,...,26.6,3.310000e+01,37.5,39.0,51.5,32.5,24.0,34.6,36.6,30.2

In [42]:
infl_1998_2022 = float(1 + (cpi[2022]-cpi[1998])/cpi[1998])
infl_1998_2022

1.7954294478527606

In [56]:
usgs['1913']

ID
Primary copper production_Price_World                        5630.0
Cement production_Price_World                                  99.8
Nickel production_Price_World                               15300.0
Sand and gravel production (construction)_Price_World          4.77
Gold production_Price_World                              10000000.0
Sand and gravel production (industrial)_Price_World            12.6
Name: 1913, dtype: object

In [55]:
for x in usgs['1913']:
    x = float(x)
    print(x*1.7954294478527606)

10108.267791411043
179.1838588957055
27470.070552147237
8.564198466257666
17954294.478527606
22.622411042944783

In [59]:
set(cost_data['Data Source'])

{'Santa Fe Institute', 'U.S. Geological Survey'}